<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
            <div class="leftbar p-r-20 p-r-0-sm">
                <!--  -->
                <h4 class="m-text14 p-b-7">
                    Admin Account
                </h4>

                <ul class="p-b-54">
                    <li class="p-t-4">
                        <a href="/admin/ventas" class="s-text13 active1">
                            Sales
                        </a>
                    </li>

                    <li class="p-t-4">
                        <a href="/admin/inventario" class="s-text13">
                            Stock
                        </a>
                    </li>

                    <li class="p-t-4">
                        <a href="/admin/nuevo-inventario" class="s-text13">
                            Add Items
                        </a>
                    </li>
                    <!--
                    <li class="p-t-4">
                        <a href="#" class="s-text13">
                            Edit Items
                        </a>
                    </li>
-->
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">

            

            <!--Load the AJAX API-->
            <script type="text/javascript">

                // Load the Visualization API and the corechart package.
                google.charts.load('current', { 'packages': ['corechart'] });

                // Set a callback to run when the Google Visualization API is loaded.
                google.charts.setOnLoadCallback(drawChart);

                // Callback that creates and populates a data table,
                // instantiates the pie chart, passes in the data and
                // draws it.
                function drawChart() {

                    // Create the data table.
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Topping');
                    data.addColumn('number', 'Slices');

                    data.addRows([
                        {{ #each clothes }}
                ["{{this.dataValues.id_products}} ", {{ this.dataValues.final_price }}]
                    {{/each}}
        ]);

                    console.log(data);
                    // Set chart options
                    var options = {
                        'title': 'VENTAS',
                        'width': 700,
                        'height': 500
                    };

                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }
            </script>



        </div>
    </div>
</div>